.pybuild/
*.debhelper
*.substvars
*.o
*.lo
linux-gpib-user/doc/*.3
linux-gpib-user/doc/*.8

debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
debian/firmware-gpib/
debian/gpib-dkms.debhelper.log
debian/gpib-dkms/
debian/libgpib-bin/
debian/libgpib-dev/
debian/libgpib-doc/
debian/libgpib-perl/
debian/libgpib0/
debian/python3-gpib/
debian/tcl-gpib/

