Source: gpib
Section: science
Priority: optional
Maintainer: Gudjon I. Gudjonsson <gudjon@gudjon.org>
Build-Depends: debhelper (>= 13),
               dh-python,
               dkms,
               bison,
               flex,
               bzip2,
               docbook-utils,
               docbook-to-man,
               tcl-dev,
               perl,
               python3-all-dev,
               python3-setuptools
Standards-Version: 4.6.2

Package: libgpib-dev
Section: libdevel
Architecture: any
Replaces: libgpib0-dev
Depends: libgpib0 (= ${binary:Version}),
         ${misc:Depends}
Description: C bindings for GPIB (IEEE 488) kernel driver -- headers
 This package contains headers, documentation and static libraries.
 .
 Development files for libgpib.

Package: libgpib0
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Recommends: gpib-dkms, libgpib-bin
Description: C bindings for GPIB (IEEE 488) kernel driver
 A library for interactig with GPIB devices.
 .
 This package contains the shared library.

Package: libgpib-bin
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends},
         fxload
Description: Support and configuration applications for the GPIB library
 This package contains configuration files and binaries for libgpib
 .
 udev rules, firmware, configuration and utility scripts for GPIB.

Package: libgpib-perl
Section: perl
Architecture: any
Depends: perl (>=5.8.8),
         ${shlibs:Depends},
         ${perl:Depends},
         ${misc:Depends}
Description: Perl bindings for the GPIB library
 This package contains the bindings for perl.
 .
 Control GPIB devices from Perl5.

Package: python3-gpib
Section: python
Architecture: any
Depends: ${shlibs:Depends},
         ${python3:Depends},
         ${misc:Depends}
Recommends: python3-pyvisa-py
Description: Python3 bindings for the GPIB library
 This package contains the bindings for Python3.
 .
 Control GPIB devices from Python3. Goes well with pyvisa-py.

Package: tcl-gpib
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, 
         ${misc:Depends}
Description: Tcl 8.6 bindings for the GPIB library
 This package contains the bindings for tcl8.6.
 .
 Control GPIB devices form TCL 8.6.

Package: libgpib-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: w3m | www-browser
Description:  Documentation for the linux-gpib library
 This package contains the documentation and examples for the
 linux-gpib library.
 .
 HTML documentation and example code for C, Python, Perl and TCL.

Package: gpib-dkms
Section: kernel
Architecture: all
Depends: ${misc:Depends}
Recommends: firmware-gpib
Description: Linux GPIB DKMS kernel modules
 This package uses DKMS to automatically build the linux GPIB driver
 kernel modules.

Package: firmware-gpib
Section: non-free/kernel
Architecture: all
Depends: ${misc:Depends}
Description: Firmware for GPIB adapters
 This package contains the necessary firmware to operate certain
 National Instruments and HP/Agilent/Keysight GPIB adapters.
