#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
include /usr/share/dpkg/pkg-info.mk
export DEB_VERSION_UPSTREAM
export PYBUILD_NAME=gpib

DKMS_INSTALLDIR=debian/gpib-dkms/usr/src/gpib-${DEB_VERSION_UPSTREAM}
DKMS_SOURCEDIR=linux-gpib-kernel
USER_SRC_DIR=linux-gpib-user


%:
	dh $@ -Ngpib-dkms -Npython3-gpib --sourcedirectory=$(USER_SRC_DIR)
	dh $@ -ppython3-gpib --sourcedirectory=$(USER_SRC_DIR)/language/python --with python3 --buildsystem=pybuild
	dh $@ -pgpib-dkms --sourcedirectory=$(DKMS_SOURCEDIR) --with dkms

override_dh_autoreconf:
	cp $(CURDIR)/ChangeLog $(USER_SRC_DIR)
	dh_autoreconf

override_dh_auto_configure:
ifneq (,$(findstring pgpib-dkms,$(DH_INTERNAL_OPTIONS)))
	echo Nothing to do here
else ifneq (,$(findstring ppython3-gpib,$(DH_INTERNAL_OPTIONS)))
	dh_auto_configure
else
	dh_auto_configure -- \
		--host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--sysconfdir=/etc \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--enable-static \
		--disable-python-binding \
		--with-tcl=/usr/lib/tcl8.6/
endif

override_dh_auto_build:
ifneq (,$(findstring pgpib-dkms,$(DH_INTERNAL_OPTIONS)))
	echo Nothing to do here
else
	dh_auto_build
	cd $(USER_SRC_DIR)/doc && (LANG="en_US"; docbook2man linux-gpib.sgml )
	(cd $(USER_SRC_DIR)/language/perl; \
	perl Makefile.PL INSTALLDIRS=vendor; \
	$(MAKE) OPTIMIZE="-O2 -g -Wall" LD_RUN_PATH=)
endif

override_dh_auto_install:
ifneq (,$(findstring pgpib-dkms,$(DH_INTERNAL_OPTIONS)))
	mkdir -p ${DKMS_INSTALLDIR}
	chmod 644 ${DKMS_SOURCEDIR}/drivers/gpib/tnt4882/ni-usb-b.txt
	for f in ${DKMS_SOURCEDIR}/drivers \
		${DKMS_SOURCEDIR}/compat \
		${DKMS_SOURCEDIR}/Makefile; do \
		cp -a $$f ${DKMS_INSTALLDIR}; \
	done
else ifneq (,$(findstring ppython3-gpib,$(DH_INTERNAL_OPTIONS)))
	dh_auto_install
else
	dh_auto_install
	cd $(USER_SRC_DIR)/language/perl && $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
endif

override_dh_dkms:
	sed -i "s/@PKGVER@/${DEB_VERSION_UPSTREAM}/" debian/gpib-dkms.dkms
	dh_dkms
	sed -i "s/${DEB_VERSION_UPSTREAM}/@PKGVER@/" debian/gpib-dkms.dkms

override_dh_auto_clean:
ifneq (,$(findstring pgpib-dkms,$(DH_INTERNAL_OPTIONS)))
	echo Nothing to do here
else
	dh_auto_clean
endif

get-orig-source:
	set -e;\
	VER=$(DEB_VERSION_UPSTREAM);\
	wget -q "https://sourceforge.net/projects/linux-gpib/files/linux-gpib for 3.x.x and 2.6.x kernels/$$VER/linux-gpib-$$VER.tar.gz/download";\
	mv download linux-gpib-$$VER.tar.gz;\
	tar xzf linux-gpib-$$VER.tar.gz;\
	rm -f linux-gpib-$$VER.tar.gz;\
	cd linux-gpib-$$VER && tar xzf linux-gpib-user-$$VER.tar.gz;cd ..;\
	rm -f linux-gpib-$$VER/linux-gpib-user-$$VER.tar.gz;\
	mv linux-gpib-$$VER/linux-gpib-user-$$VER linux-gpib-$$VER/linux-gpib-user;\
	cd linux-gpib-$$VER && tar xzf linux-gpib-kernel-$$VER.tar.gz;cd ..;\
	rm -f linux-gpib-$$VER/linux-gpib-kernel-$$VER.tar.gz;\
	mv linux-gpib-$$VER/linux-gpib-kernel-$$VER linux-gpib-$$VER/linux-gpib-kernel;\
	mv linux-gpib-$$VER gpib-$$VER;\
	tar czf gpib_$$VER.orig.tar.gz gpib-$$VER;\
